<div class="about-container">
    <!-- Subtitulo -->
    <div class="about-container__subtitle">
        <h6>{{ inicio.subtitle }}</h6>
    </div>

    <!-- Titulo -->
    <div class="about-container__title">
        <h2>{{ inicio.title }}</h2>
    </div>

    <!-- Informacion -->
    <div class="about-container__info">
        <!-- Fotografia -->
        <div class="info__phography">
            <div class="photography__avatar">
                <img src="../../../assets/banners/riendo2-min.png" alt="" class="avatar__img">
            </div>

            <div class="photography__name">
                <h3>JUAN VILLACOB</h3>
            </div>

            <div class="photography__location">
                <p>{{ ubicacion.work }} <span>{{ ubicacion.ubicado }}</span> Colombia</p>
            </div>

            <div class="photography__button">
                <a class="button__btn" href="../../../assets/CV_JuanVillacob.pdf" download="CV_JuanVillacob.pdf">{{ ubicacion.download }} <i class="fa-solid fa-download"></i></a>
            </div>
        </div>

        <!-- Texto -->
        <div class="info__text">
            <!-- personal -->
            <div class="text__personal">
                <p>{{ description.desp }}</p>
            </div>

            <!-- contacto -->
            <div class="text__contacto">
                <div class="contacto__elemento"><i class="fa-solid fa-user"></i> Juan Villacob</div>
                <div class="contacto__elemento"><i class="fa-solid fa-map-location"></i> Medellín, Colombia</div>
                <div class="contacto__elemento"><i class="fa-solid fa-mobile-screen-button"></i> (+57) 301 5168188</div>
                <div class="contacto__elemento"><i class="fa-regular fa-envelope"></i> jucaviza6@gmail.com</div>
            </div>

            <!-- datos -->
            <div class="text__datos">
                <div class="datos__dato">
                    <div class="dato__dato">
                        <h6>3+</h6>
                        <span>{{ exp.years }}...</span>
                    </div>
                    <p>{{ exp.ypara }}</p>
                </div>

                <div class="datos__dato">
                    <div class="dato__dato">
                        <h6>12+</h6>
                        <span>{{ exp.proj }}...</span>
                    </div>
                    <p>{{ exp.ppara }}</p>
                </div>
            </div>


            <!-- Mensaje -->
            <div class="text__message">
                <div class="message__quotes">
                    <i class="fa-solid fa-quote-left"></i>
                </div>
                <div class="message__mensaje">
                    “{{ exp.mess }}”
                </div>

            </div>
        </div>


    </div>
</div>
