<div class="about-container">
    <!-- Subtitulo -->
    <div class="about-container__subtitle">
        <h6>Nice to Meet You!</h6>
    </div>

    <!-- Titulo -->
    <div class="about-container__title">
        <h2>WELCOME TO...</h2>
    </div>

    <!-- Informacion -->
    <div class="about-container__info">
        <!-- Fotografia -->
        <div class="info__phography">
            <div class="photography__avatar">
                <img src="https://www.uiocean.com/angular/lilon/assets/img/about-banner.png" alt="" class="avatar__img">
            </div>

            <div class="photography__name">
                <h3>JUAN VILLACOB</h3>
            </div>

            <div class="photography__location">
                <p>Web Designer <span>based in</span> USA</p>
            </div>

            <div class="photography__button">
                <button class="button__btn">Download CV <i class="fa-solid fa-download"></i></button>
            </div>
        </div>

        <!-- Texto -->
        <div class="info__text">
            <!-- personal -->
            <div class="text__personal">
                <p>Born in 2000, AB type living in USA. We provide on-screen design for websites and apps, as well as
                    front-end implementation. We will continue to pursue a wide range of expressions and better code by
                    pursuing our “likes”.</p>
            </div>

            <!-- contacto -->
            <div class="text__contacto">
                <div class="contacto__elemento"><i class="fa-solid fa-mobile-screen-button"></i> (+57) 301 5168188</div>
                <div class="contacto__elemento"><i class="fa-solid fa-mobile-screen-button"></i> (+57) 301 5168188</div>
                <div class="contacto__elemento"><i class="fa-solid fa-mobile-screen-button"></i> (+57) 301 5168188</div>
                <div class="contacto__elemento"><i class="fa-solid fa-mobile-screen-button"></i> (+57) 301 5168188</div>
            </div>

            <!-- datos -->
            <div class="text__datos">
                <div class="datos__dato">
                    <div class="dato__dato">
                        <h6>10+</h6>
                        <span>Years experience...</span>
                    </div>
                    <p>Hello there! My name is Lilon Macwan. I am a web designer & developer, and I'm very passionate
                        and dedicated to my work.</p>
                </div>

                <div class="datos__dato">
                    <div class="dato__dato">
                        <h6>10+</h6>
                        <span>Years experience...</span>
                    </div>
                    <p>Hello there! My name is Lilon Macwan. I am a web designer & developer, and I'm very passionate
                        and dedicated to my work.</p>
                </div>
            </div>


            <!-- Mensaje -->
            <div class="text__message">
                <div class="message__quotes">
                    <i class="fa-solid fa-quote-left"></i>
                </div>
                <div class="message__mensaje">
                    “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus sed sit ultrices et sed metus
                    sollicitudin.”
                </div>

            </div>
        </div>


    </div>
</div>