.footer-container {
    height: 80px;
    width: 100%;
    background-color: var(--px-bg);
    color: var(--px-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.footer-container__info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.info__image {
    width: 40px;
    height: 40px;
}

.info_h6 {
    font-size: 14px;
}


.footer-container__reserved p {
    font-size: 12px;
}