<div class="contacto-container">
    <!-- Datos de Contacto -->
    <div class="contacto-container__datos">
        <div class="datos__subtitle">
            <h5>Contact</h5>
        </div>
        <div class="datos__title">
            <h2>REACH OUT ME</h2>
        </div>

        <!-- Tarjetas -->
        <div class="datos__cards">
            <!-- Correo Electrónico -->
            <li class="cards__card">
                <div class="card__icon">
                    <i class="fa-solid fa-comment-dots"></i>
                </div>
                <div class="card__text">
                    <div class="text__title">Chat to Us</div>
                    <div class="text__paragraph">Our friendly team is there to help. info@domainname.com</div>
                </div>
            </li>

            <!-- Número Telefónico -->
            <li class="cards__card">
                <div class="card__icon">
                    <i class="fa-solid fa-mobile-screen-button"></i>
                </div>
                <div class="card__text">
                    <div class="text__title">Call us</div>
                    <div class="text__paragraph">Mon-Fri from 8am to 5pm. +01 (555) 000-0000</div>
                </div>
            </li>

            <!-- Redes Sociales -->
            <li class="cards__card">
                <div class="card__icon">
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>
                <div class="card__text">
                    <div class="text__title">Chat to Us</div>
                    <div class="text__paragraph">Our friendly team is there to help. info@domainname.com</div>
                </div>
            </li>
        </div>
    </div>


    <!-- Formulario -->
    <div class="contacto-container__form">
        <div class="form__initial-text">
            <h4>Got Ideas? We've got the skills. Let's team up.</h4>
        </div>

        <div class="form__secondary-text">
            <p>Tell us more about yourself and what you're got in mind.</p>
        </div>

        <form class="form__form">
            <div class="form__group1">
                <label for="" class="group1__label">FIRST NAME</label>
                <input type="text" class="group1__input">
            </div>

            <div class="form__group1">
                <label for="" class="group1__label">EMAIL</label>
                <input type="email" class="group1__input">
            </div>

            <div class="form__group2">
                <label for="" class="group2__label">SUBJET</label>
                <input type="text" class="group2__input">
            </div>

            <div class="form__group2">
                <label for="" class="group2__label">YOUR MESSAGE</label>
                <textarea name="" id="" cols="30" rows="10" class="group2__input"></textarea>
            </div>

            <button class="form__submit">Send Message</button>

        </form>

    </div>
</div>