<div class="home-container">
    <!-- Texto -->
    <div class="home-container__text">
        <!-- Nombre -->
        <h1 class="text__my-name">
            {{ nombre.ini }}
            <br>
            {{ nombre.is }} JUAN
            <span class="my-name__lastname">VILLACOB...</span>
        </h1>

        <!-- Ubicacion -->
        <p class="text__based"> <span>{{ ubicacion.work }}</span> {{ ubicacion.ubicado }} <span>Colombia</span></p>

        <!-- Botón -->
        <div class="text__button">
            <button class="button__with-me" (click)="scrollToSection()">{{ boton.text }}</button>
        </div>

        <!-- Barra de información -->
        <div class="text__info-bar">
            <div class="info-bar__element">
                <i class="fa-solid fa-mobile-screen-button"></i>
                <span>(+57) 301 516 8188</span>
            </div>
            <div class="info-bar__element">
                <i class="fa-regular fa-envelope"></i>
                <span>jucaviza6@gmail.com</span>
            </div>
        </div>

    </div>

    <!-- Imagen -->
    <div class="home-container__img">

    </div>
</div>
