.home-container {
    height: 100vh;
    width: 100%;
    background: var(--px-bg);
    background: linear-gradient(0deg, var(--px-dark) 0%, var(--px-bg) 100%);
    display: flex;
    justify-content: center;
    z-index: -11;
}


/* TEXTO */
.home-container__text {
    position: absolute;
    left: 50px;
    width: 60%;
    height: 100vh;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-left: 20px;
    z-index: 1;
}

.text__my-name {
    font-size: 75px;
    color: var(--px-text);
    font-weight: 800;
    line-height: 1;
}

.my-name__lastname {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--px-theme);
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.text__based {
    font-size: 28px;
    color: var(--px-text);
    font-weight: 300;
    width: 100%;
}

.text__based span {
    font-weight: 600;
}

.text__button {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.button__with-me {
    color: var(--px-text);
    background: linear-gradient(90deg,var(--px-theme) 0%,var(--px-theme-2) 100%),var(--px-white);
    padding: 15px 45px;
    font-size: 16px;
    border: 0px;
}

.button__with-me:hover {
    cursor: pointer;
    background: linear-gradient(90deg,var(--px-theme) 80%,var(--px-theme-2) 100%),var(--px-white);
}

.text__info-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
}

.info-bar__element {
    color: var(--px-text);
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}



/* IMAGEN */
.home-container__img {
    position: absolute;
    background-image: url(../../../assets/banners/home-banner.png);
    background-size: cover;
    height: 100vh;
    width: 500px;
    right: 50px;
    z-index: 0;
}

/* Media */
@media screen and (max-width: 900px) {
    .home-container__text {
        width: 70%;
        padding: 100px 0;
        left: auto;
        z-index: 1;
    }

    .home-container__img {
        filter: opacity(0.4);
    }

}

@media screen and (max-width: 600px) {
    .home-container__text {
        width: 90%;
        padding: 0;
        left: auto;
        z-index: 1;
    }

    .text__my-name {
        font-size: 50px;
    }

    .text__based {
        font-size: 20px;
    }

    .home-container__img {
        right: 0;
        width: 100vw;
    }

}