/* BARRAS */
.sidebar-bars {
    position: fixed;
    top: 50px;
    right: 40px;
    z-index: 999;
    color: var(--px-text);
    font-size: 28px;
    display: none;
}

.sidebar-bars:hover {
    cursor: pointer;
}


/* CONTENEDOR DEL SIDEBAR */
.sidebar-container {
    position: fixed;
    height: 100vh;
    width: 285px;
    top: 0;
    left: 0;
    background: var(--px-dark);
    background: linear-gradient(0deg, var(--px-bg) 0%, var(--px-dark) 100%);
    display: flex;
    flex-direction: column;
    transition: ease all .35s;
    z-index: 999;
}

/* LOGO */
.sidebar-container__logo {
    padding: 50px 30px 30px;
}

.logo__link {
    width: 225px;
    height: 25px;
    text-decoration: none;
    white-space: nowrap;
    color: var(--px-text);
}

.link__image {
    height: 25px;
    width: auto;
}


/* MENU */
.side-container__main {
    margin: 0;
    padding: 40px 0 0;
    list-style: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 350px;
}

.elemento__link {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 30px;
    position: relative;
    display: flex;
    color: var(--px-text);
}

.elemento__link:hover {
    cursor: pointer;
}



/* REDES SOCIALES */
.side-container__redes {
    list-style: none;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.redes__red {
    height: 41px;
    width: 41px;
    padding: 13px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--px-text);
    transition: all 0.1s;
}

.red__link {
    color: var(--px-dark);
    font-size: 16px;
}

.redes__red:hover {
    background-color: var(--px-theme);
    cursor: pointer;
}

.redes__red:hover .red__link {
    color: var(--px-text);
}


/* TEMAS */
.side-container__themes {
    width: 100%;
    margin-top: 85px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.side-container__themes h6 {
    font-size: 18px;
    font-weight: 500;
    color: var(--px-text);
}

.themes__theme {
    width: 30px;
    height: 30px;
    background: linear-gradient(90deg,var(--px-theme) 0%,var(--px-theme-2) 100%),var(--px-white);
    border-radius: 50%;
}

.professional {
    background: linear-gradient(90deg,#1E88E5 0%,#1976D2 100%),var(--px-white);
}

.warm {
    background: linear-gradient(90deg,#FFA726 0%,#D84315 100%),var(--px-white);
}

.fresh {
    background: linear-gradient(90deg,#56CCF2 0%,#2F80ED 100%),var(--px-white);
}

.dark {
    background: linear-gradient(90deg,#FF5733 0%,#C70039 100%),var(--px-white);
}

.themes__theme:hover {
    cursor: pointer;
}

/* MEDIA */
@media screen and (max-width: 1200px) {
    .sidebar-container {
        left: -285px;
    }

    .sidebar-bars {
        display: block;
    }

    .sidebar-container.menu-activated {
        left: 0;
    }

    .logo__link {
        position: fixed;
        top: 50px;
        left: 30px;
    }

}

@media screen and (max-width: 600px) {
    .sidebar-bars {
        right: 25px;
    }

    .side-container__themes {
        margin-top: 35px;
    }

}