<div class="sidebar-container" [ngClass]="{'menu-activated': menuActivate}">
    <!-- Logo -->
    <div class="sidebar-container__logo">
        <a href="" class="logo__link">
            <img src="https://www.uiocean.com/angular/lilon/assets/img/logo.svg" alt="Logo" class="link__image">
        </a>
    </div>

    <!-- Menu -->
    <ul class="side-container__main">
        <li class="main__elemento">
            <a href="" class="elemento__link">
                HOME
            </a>
        </li>
        <li class="main__elemento">
            <a href="" class="elemento__link">
                ABOUT
            </a>
        </li>
        <li class="main__elemento">
            <a href="" class="elemento__link">
                SERVICES
            </a>
        </li>
        <li class="main__elemento">
            <a href="" class="elemento__link">
                PORTFOLIO
            </a>
        </li>
        <li class="main__elemento">
            <a href="" class="elemento__link">
                BLOG
            </a>
        </li>
        <li class="main__elemento">
            <a href="" class="elemento__link">
                CONTACT
            </a>
        </li>
    </ul>

    <!-- Redes Sociales -->
    <ul class="side-container__redes">
        <li class="redes__red">
            <a href="" class="red__link">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
        </li>
        <li class="redes__red">
            <a href="" class="red__link">
                <i class="fa-brands fa-facebook"></i>
            </a>
        </li>
        <li class="redes__red">
            <a href="" class="red__link">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </li>
        <li class="redes__red">
            <a href="" class="red__link">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </li>
    </ul>
</div>

<div class="sidebar-bars" (click)="activarMenu()">
    <i class="fa-solid fa-bars-staggered"></i>
</div>