<div class="experience-container">
    <!-- General -->
    <div class="experience-container__general">
        <div class="general__subtitle">
            <h6>{{ general.subtitle }}</h6>
        </div>

        <div class="general__title">
            <h2>{{ general.title }}</h2>
        </div>

        <div class="general__paragraph">
            <p>
              {{ general.paragraph }}
            </p>
        </div>

        <div class="general__button">
            <a class="button__download" href="../../../assets/Juan Camilo Villacob.pdf" download="Juan Camilo Villacob.pdf">Download CV (ATS Filter)<i class="fa-solid fa-download"></i></a>
        </div>

    </div>


    <!-- lista -->
    <div class="experience-container__list">

        <div class="list__data">
            <span class="data__fecha">- {{ list.fdate }}</span>
            <span class="data__category">- {{ list.fcat }}</span>
        </div>
        <div class="list__exper">
            <h5 class="exper__exp">{{ list.fexp }}</h5>
        </div>

        <div class="list__data2">
            <span class="data__fecha">- {{ list.sdate }}</span>
            <span class="data__category">- {{ list.scat }}</span>
        </div>
        <div class="list__exper">
            <h5 class="exper__exp">{{ list.sexp }}</h5>
        </div>

        <div class="list__data2">
            <span class="data__fecha">- {{ list.tdate }}</span>
            <span class="data__category">- {{ list.tcat }}</span>
        </div>
        <div class="list__exper">
            <h5 class="exper__exp">{{ list.texp }}</h5>
        </div>
    </div>
</div>
