<div class="experience-container">
    <!-- General -->
    <div class="experience-container__general">
        <div class="general__subtitle"><h6>Experience</h6></div>

        <div class="general__title">
            <h2>MY EXPERIENCE</h2>
        </div>

        <div class="general__paragraph">
            <p>
                Hello there! My name is Juan Villacob. I am a web designer & developer, and I'm very passionate and
                dedicated to my work.
            </p>
        </div>

        <div class="general__button">
            <button class="button__download">Download my resume <i class="fa-solid fa-download"></i></button>
        </div>

    </div>


    <!-- lista -->
    <div class="experience-container__list">
        
        <div class="list__data">
            <span class="data__fecha">-2020 - Present</span>
            <span class="data__category">-UI/UX Lead</span>
        </div>
        <div class="list__exper">
            <h5 class="exper__exp">LEAD UI/UX DESIGNER</h5>
        </div>

        <div class="list__data2">
            <span class="data__fecha">-2020 - Present</span>
            <span class="data__category">-UI/UX Lead</span>
        </div>
        <div class="list__exper">
            <h5 class="exper__exp">LEAD UI/UX DESIGNER</h5>
        </div>

        <div class="list__data2">
            <span class="data__fecha">-2020 - Present</span>
            <span class="data__category">-UI/UX Lead</span>
        </div>
        <div class="list__exper">
            <h5 class="exper__exp">LEAD UI/UX DESIGNER</h5>
        </div>
    </div>
</div>