<div class="experience-container">
    <!-- General -->
    <div class="experience-container__general">
        <div class="general__subtitle">
            <h6>Experience</h6>
        </div>

        <div class="general__title">
            <h2>MY EXPERIENCE</h2>
        </div>

        <div class="general__paragraph">
            <p>
                My career path includes diverse roles such as teaching teenage
                students and managing a bar, reflecting my ability to adapt and lead in various environments.
            </p>
        </div>

        <div class="general__button">
            <button class="button__download">Download my resume <i class="fa-solid fa-download"></i></button>
        </div>

    </div>


    <!-- lista -->
    <div class="experience-container__list">

        <div class="list__data">
            <span class="data__fecha">-2022 - Present</span>
            <span class="data__category">-Automation Analyst and Web Development</span>
        </div>
        <div class="list__exper">
            <h5 class="exper__exp">AUTOMATIONS ANALYST</h5>
        </div>

        <div class="list__data2">
            <span class="data__fecha">-2021</span>
            <span class="data__category">-Teacher for Teenage Students</span>
        </div>
        <div class="list__exper">
            <h5 class="exper__exp">TEACHER</h5>
        </div>

        <div class="list__data2">
            <span class="data__fecha">-2021</span>
            <span class="data__category">-Bar Administrator</span>
        </div>
        <div class="list__exper">
            <h5 class="exper__exp">BAR ADMINISTRATOR</h5>
        </div>
    </div>
</div>